body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth; 
}

/* header */
header {
    margin: 20px
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navlogo {
    width: 40px;
    justify-content: flex-start;
}

.topnav a {
    text-decoration-line: none;
    font-size: 24px;
    font-weight: 400px;
    padding: 8px 16px 8px 16px
}

.topnav a:hover {
    text-decoration-line: underline;
    cursor: pointer
}

button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700px;
    border: none;
    padding: 14px 24px 16px 24px;
    cursor: pointer;
}

/* main */

#sectionone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* not sure if needed */
    margin-bottom: 100px;
}

#tryfigma1 {
    margin: 20px;
}

#firstvid {
    width: 900px;
}

#sectiontwo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#sectiontwosub {
    margin: 100px 0px 0px 0px; /* different way to center content */
}

p { /* now this applies to all paragraphs - review later */
    max-width: 500px;
    font-size: 20px;
    line-height: 26px;
}

#secondvid {
    width: 550px;
}

h2 {
    font-size: 32px;
    font-weight: 700px;
    line-height: 1.2px;
    padding-top: 20px; /* i added this so that the yellowsec is high enough */
    margin-bottom: 32px;
}

ul {
    max-width: 500px;
    font-size: 20px;
    line-height: 26px;
}

.yellowsec {
    background-color: #ffc700;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#yellowdiv {
    flex-direction: column;
    max-width: 550px;
    margin: 130px 0px 0px 0px; /* different way to center content horizonatlly */
    align-items: flex-start;
}

#sectionthree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#secthreesub {
    margin: 70px 0px 0px 0px; /* different way to center content */
}

#thirdvid {
    width: 550px;
}

.communitysec {
    background-color: black; /* black bg includes the signup section, why? */
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#secimages img{ /* why does it not apply? */
    margin: 20px;
}
.communitysec img
{
    max-width: 400px;
    border-radius: 10px;
    margin: 20px;
    object-fit: contain;
}

#invertbutton {
    color:black;
    background-color: white;
    margin: 50px
}

.signup {
    margin: 40px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tryfigma {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
#or {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
input {
margin: 10px;
border: solid;
border-radius: 5px;
height: 50px;
width: 400px;
color: #282828;
padding-left: 12px;
}

footer{
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer section {
    margin: 50px;
    flex-direction: column;
    align-content: center;
}

.fa-twitter-square {
    margin-right: 10px;
}
.fa-youtube
{
    margin-right: 10px;
}
.fa-instagram-square
{
    margin-right: 10px;
}
.fa-facebook {
    margin-right: 10px;
}